* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

.topbar {
    background: #4a43d1;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.account {
    position: relative;
    color: white;
    font-size: 14px;
}

.dropdown {
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: white;
    width: 160px;
    border-radius: 8px;
    display: none;
}

.dropdown a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #f3f4f6;
}

.account:hover .dropdown {
    display: block;
}

.banner {
    width: 768px;
    background-color: #4F46E5;
    color: white;
    padding: 32px;
    border-radius: 12px;
    text-align: center;
    margin: 24px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.banner h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.banner p {
    font-size: 13.89px;
}

.container {
    width: 768px;
    margin: auto;
    padding: 24px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #4F46E5;
    margin-bottom: 24px;
}

.card {
    background: white;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    gap: 12.5px;
    flex-wrap: wrap;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.month,
.budget {
    font-size: 13.02px;
    color: #6B7280;
}

input {
    font-size: 16px;
    width: 178px;
    padding: 9px;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    color: white;
}

.btn-blue {
    background: #3B82F6;
}

.btn-green {
    background: #22C55E;
}

.btn-purple {
    background: #6366F1;
}

.balance {
    font-size: 15.88px;
    color: #6B7280;
}

.money {
    font-size: 24px;
    color: #22C55E;
    font-weight: 400;
}

.category h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.category-input {
    margin-bottom: 24px;
}

.category-input input {
    width: 246px;
}

.category-input button {
    width: 155px;
}

.category-list button,
.history-list button {
    background-color: white;
    color: #DC2626;
    font-size: 12px;
    padding: 0;
}

.category-list li {
    padding: 3px;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.type select,
.history-input select {
    width: 150px;
    border-radius: 6px;
    background-color: #EFEFEF;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #DEE2E6;
    appearance: none;
}

.type button {
    width: 128px;
}

.history h3 {
    font-size: 17.72px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #EF4444;
}

.history-input {
    justify-content: center;
}

.history-input input {
    width: 158.5500030517578px;
    background-color: #F9FAFB;
}

.history-input button {
    background-color: #1D4ED8;
    font-size: 16px;
    width: 42px;
    height: 42px;
    padding: 0;
}

.history-input select {
    width: 180px;
    background-color: #F9FAFB;
    border: 1px solid #DEE2E6;
}

.history-list li {
    padding: 12px;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.history-list button {
    font-size: 20px;
}

.pagination {
    margin: 24px auto 0;
    border-spacing: 0;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    overflow: hidden;
}

.pagination td {
    padding: 11px 13px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #DEE2E6;
    color: #0D6EFD;
    background: #FFFFFF;
}

.pagination td:hover {
    background-color: #0D6EFD;
    color: #FFFFFF;
}

.pagination .prev {
    color: #212529BF;
    background: #E9ECEF;
}


.warning {
    font-size: 14px;
    color: #DC2626;
}

.statistical {
    width: 768px;
    margin: 0 auto;
}

.statistical h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.statistical table {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #374151;
    text-align: left;
}

.statistical th,
.statistical td {
    padding: 11px;
    border-bottom: 1px solid #e5e7eb;
}

.wide {
    width: 30%;
}

.ok {
    color: #16a34a;
    font-weight: 500;
}

.over {
    color: #ef4444;
    font-weight: 500;
}

footer {
    background: #4a43d1;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 24px;
    margin-top: 56px;
}